@model List<Bookish.DataAccess.Book>


@{
    ViewBag.Title = "Book Library";
}


<div class="library">
    <h2>Book Library</h2>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Copies</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@Html.ActionLink(book.title, "Book_Detail", new {book_id = book.book_id})</td>
                <td>@book.author</td>
                <td>@book.isbn</td>
                <td>@book.copies</td>
            </tr>
        }
        </tbody>
    </table>
    <p></p>
</div>