  
@model List<Bookish.DataAccess.BookedOut>

@*{
        ViewBag.Title = "Home Page";
    }*@


<div class="jumbotron">
    <h1>Git Bashers Library</h1>
    <p class="lead">Welcome!</p>
    <p><a href="/Home/Book_Library" class="btn btn-primary btn-lg">Browse book library</a></p>
    <form action="/Home/Search">
        <input class="form-control" type="text" placeholder="Search by title or author..." aria-label="Search" name="userInput"></input>
        <input type="submit" value="Let's go!">
    </form>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                    <tr>
                        <td>@book.title</td>
                        <td>@book.author</td>
                        <td>@(book.due_date?.ToShortDateString())</td>
                        
                    </tr>
                    }
                </tbody>
            </table>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

</div>